<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>298270778043-vus5aigcc9sbohomhria2n80crplp7tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.298270778043-vus5aigcc9sbohomhria2n80crplp7tm</string>
	<key>API_KEY</key>
	<string>AIzaSyDXQUoD-oQtno7fGHHMJAymnD5UyeQljuI</string>
	<key>GCM_SENDER_ID</key>
	<string>298270778043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SerhiiNikolaiev.CryptoApp</string>
	<key>PROJECT_ID</key>
	<string>cryptoapp-bd37d</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptoapp-bd37d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:298270778043:ios:b1938a25727101927d3f9e</string>
</dict>
</plist>